@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background: #CCFFCC;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.element,
.counter {
    background: lightcyan;
    border: 5px solid white;
    margin: 8px 0;
    width: auto;
    /* max-height: 200px; */
}
/* .limit ul {
    display: flex;    
    overflow: visible;
} */
/* зона обработки  */
.limit {
    display: flex;
    flex-direction: column;
    height: 140px; /* Ограничиваем высоту родителя */
    overflow: hidden; /* Скрываем лишнее */
}

.limit ul {
    flex-grow: 1; /* ul будет занимать всё доступное место */
    overflow-y: auto; /* Прокрутка только для списка */
    max-width: fit-content;
    list-style: none;
}

.text {
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
}

.block img {
    max-width: 360px;
    height: auto;
    max-height: 250px;
}

.content h1 {
    text-align: center;
    margin: 50px 0 40px;
}

.img+h3,
.text+h2 {
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
}

.img {
    text-align: center;
    margin-bottom: 45px;
}

.img img {
    border: 8px solid blue;
}

/* #CCFFCC */

.top {
    background: #bdbbda;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.top a {
    color: #CCFFCC;
    text-decoration: none;
    padding: 12px;
    display: block;
}

.idtions {
    background: #CCFFCC;
    padding: 20px 10px 50px;
}

.tltool2_text {
    display: flex;
    align-items: center;
    /* Центрируем по вертикали (опционально) */
    gap: 20px;
    /* Отступ между картинкой и текстом */
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: justify;
    position: relative;
}

.tltool2_text p {
    padding-right: 8px;
    margin: 0;
}

.tltool2_text2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Распределяет пространство */
    min-height: 100px;
    /* Пример, чтобы было видно */
    border: 1px solid #ccc;
    padding: 0 8px;
    text-align: justify;
    position: relative;
    /* Для позиционирования футера */
}

.info-footer {
    /* Flexbox не отрабатывает */
    margin-top: 5px;
    padding: 0;
    /* Отступ от основного текста */
    font-size: 0.9em;
    color: rgb(110, 22, 22);
    text-align: left;    
}

.menu ul {
    display: flex;
    list-style: none;
    font-size: 20px;
}


.menu li {
    margin-left: 40px;
}

.menu .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* рабочий элемент */
.menu {
    background: #CCFFFF;
    padding: 5px;
    border-bottom: 8px solid white;
}

.count {
    padding: 8px 8px;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    text-align: justify;
    font-size: 15px;
}

.menu a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

a img {
    width: 110px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    /* Создает круг */
    overflow: hidden;
}

.auth {
    border: none;
}

/* #CCFFFF    #161066    navy */
/* .top {
    background: #161066;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 18px;
} */

.exit {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

h1,
h3 {
    color: #04450a;
    text-align: center;
    background-color: #CCFFCC;
}

.top2 a {
    background: #e2e1ed;
    margin: 0;
    border: none;
    cursor: pointer;
    font-size: 17px;
    padding: 0;
}

h5 {
    font-size: 13px;
    /* font-style: ; */
    text-decoration: underline;
    margin: 15px 5px 20px;
}

/* .tool_details */
#zakaz a {
    font-size: 18px;
    text-decoration: overline;
    color: blue;
    margin-top: 20px;
    padding-top: 20px;
    /* a:visited {color: red}; */
}

/* Посещенная ссылка */
.tool_details img {
    padding-top: 10px;
}

.ul_details {
    margin: 0 10px;
    padding: 0 20px;
}

span b {
    font-weight: 500;
}

.element h2 {
    margin: 0 10px;
    padding: 0;
}

.tltool2_text img {
    max-width: 70px;
    height: auto;
}

.blkphoto {
    display: flex;
    flex-direction: column;
}
.blkphoto img {
    max-width: 500px;
    height: auto;
}

.tltool2_text2 a {
    text-decoration: underline; /* Стандартное подчёркивание */
    color: #051006;
    font-weight: 800;
    text-decoration-color: rgb(255, 0, 0);  /* Цвет подчёркивания  */
    /* text-decoration-thickness: 5px;  Толщина */
    padding-top: 0;
    padding-bottom: 15px;
}