<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'techlog_tools/car-tools.png' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'techlog_tools/car-tools.png' %}" alt="">
            </a>
        </div>
        <ul>
            {% if user.is_authenticated %}
                <li class="logo">Пользователь: {{ user.username }}</li>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'techlogtools' %}">Инструменты</a></li>
                <!--для запчастей-->
                <li><a href="{% url 'telogspparts' %}">Запчасти</a></li>
                <!--для ремонтов-->
                <li><a href="{% url 'currentnewrepairs' %}">Авторемонт</a></li>
                <li>
                    <form action="{% url 'exitappuser' %}" method="post">
                        {% csrf_token %}
                        <button class="exit">Выход</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'registruser' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'loginuser' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="content">
        {% block side_bar %}
        {% endblock %}
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>