{% extends 'techlog_tools/base.html' %}
{% load static %}

{% block side_bar %}

    {% if user.is_authenticated and request.resolver_match.url_name == 'telogspparts' %}
         <!-- Содержимое боковой панели -->
    <aside class="manage-sidebar">
        <ul>
            <li class="sidebar_title"><h4>SideBar_Editor</h4></li>
            <li class="sidebar_add"><a href="{% url 'addedspparts' %}">Добавление запчастей</a></li>
            <li class="sidebar_edit"><a href="">Редактирование запчастей</a></li>
        </ul>
    </aside>
    {% endif %}

{% endblock %}

{% block content %}

<h2>Страница запчастей / расходников</h2>
<h3 class="count">
    На данный момент представлено {{ tspparts.count }} единиц(-а, -ы) наиболее востребованных запчастей (расходников).
</h3>

{% for tsppart in tspparts %}
<div class="element">
    <h2 class="top2"><a href="{% url 'sppart_details' tsppart.id %}">{{ tsppart.title }}</a></h2>
    <div class="tltool2_text">
        <img src="{{ tsppart.image.url }}" alt="">
        <p>{{ tsppart.description|truncatechars:360|safe }}</p>
    </div>
</div>
<!--|striptags -дляСкрытия html-тегов без обработки,ЕслиОни есть  -->
{% endfor %}

{% endblock %}